rag_venv3/
.env
chroma_storage/
chroma_storage/chroma.sqlite3
Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf
נתוני חברים פברואר - אפריל 2024.xlsx
2020/